.nav{
    position: fixed;
    width: 100%;
    bottom: 1rem;
    z-index: 10;
    left: 0;
    right: 0;
}
.nav-bar{
    margin: 0 auto;
    border: 1px solid transparent;
    width: 40%;
    min-width: 375px;
    max-width: 475px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    border-radius: 2.5rem;
    background: linear-gradient((hsl(#000 / 0.05)));
    backdrop-filter: blur(1.5rem);
    color: var(--color-light);
    box-shadow: 1px 1px 1px #00000040,
    1px -1px 1px #00000050,
    1px 1px 1px #00000050,
    -1px 1px 1px #00000050;
}
.icon{
    font-size: 1rem;
    width: 38px;
    height: 38px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}